@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --cor0:#ea9da9;
    --cor01:#ffdfe4;
    --cor02: #ffc0cb;
    --cor03: #b34253;
    --cor04:#ea9da979;
    --font-Pacifico: 'Pacifico', cursive;
}

@media screen and (max-width:600px) {
    header{
        height: 300px;
        background-image: linear-gradient(to bottom,  black 30%, transparent), url(../imagens/joias.jpeg);
        /* -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%); */
        background-size: cover;
        padding: 10px;
    }

    header span{
        color: var(--cor0);
    }

    header span:hover{
        color: white;
        cursor: pointer;
    }

    header a{
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: var(--font-Pacifico);
    }

    header #cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    menu{
        left: 0;
        width: 60vw;
        height: 85%;
        display: none;
        position: absolute;
        top: 15.5%;
        background: rgb(44, 44, 44);
    }

    menu ul{
        list-style-type: none;
    }

    menu a{
        padding: 10px;
        color: white;
    }

    menu li{
        padding: 10px 0px;
        border-top: 1px solid var(--cor04);
        border-width: 100%;
    }

    menu li:hover{
        background: rgb(68, 68, 68);
    }

    menu #imagens_menu{
        box-sizing: border-box;
        background-color: var(--cor04);
        text-align: right;
        width: 100%;
        padding: 10px 10px;
        border-top: 1px solid var(--cor04);
        position: absolute;
        bottom: 0%;
    }
    menu #imagens_menu a{
        padding: 0;
    }
    menu #imagens_menu a img{
        padding-right: 0;
    }

    header hr{
        margin-top: 20px;
        border-color: var(--cor0);
        opacity: 30%;
    }

    header #divBuscar{
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;
        width: 80vw;
        background-color: white;
        border-radius: 20px;
        margin-top: 60px;
    }

    header input{
        text-align: center;
        width: calc(100% - 30px);
        border: none;
    }

    header input:focus{
        border: none;
        box-shadow: none;
        outline: none;
    }

    #amostraProdutos{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 10px 0 50px 10px;
        padding: 10px;
        border-radius: 10px 0 0 10px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.144);
    }

    #amostraProdutos::-webkit-scrollbar {
        display: none;
    }

    #amostraProdutos img{
        width: 250px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.411);
    }

    .produto{
        margin: 10px;
    }

    .produto p{
        white-space: normal;
    }

    .dadosProdutos{
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
        align-items: center;
    }

    .preco{
        font-size: 1.3em;
        font-weight: bold;
        color: var(--cor03);
    }

    .botaoComprar{
        background-color: var(--cor0);
        border: none;
        border-radius: 20px;
        width: 100px;
        padding: 10px;
        text-align: center;

        font-size: 1.1em;
        font-weight: bolder;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    }

    .botaoComprar:hover{
        background-color: var(--cor02);
        text-shadow: none;
        cursor: pointer;
    }

    #tiposProdutos{
        background-color: #ffdfe4;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.438);
        padding: 20px 0;
        margin-bottom: 50px;
    }

    #tiposProdutos img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    #tiposProdutos p{
        font-family: var(--font-Pacifico);
        color: var(--cor03);
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        margin: 5px;
    }

    #tiposAcessorios{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    #tiposAcessorios::-webkit-scrollbar {
        display: none;
    }

    .tipo{
        margin: 20px;
    }

    #botao{
        background-color: var(--cor0);
        border: none;
        border-radius: 20px;
        width: 50%;
        margin: auto;
        padding: 10px;
        text-align: center;

        font-size: 1.1em;
        font-weight: bolder;
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
    }

    #botao:hover{
        background-color: var(--cor02);
        text-shadow: none;
        cursor: pointer;
    }


    footer{
        padding: 15px 0px;
        color: white;
        background-color: black;
        text-align: left;
    }

    footer ul{
        list-style-type: none;
        max-width: 300px;
        margin: auto;
    }

    footer a{
        color: var(--cor02);
        font-weight: bold;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }

    .liDev{
        padding-top: 20px;
    }

    .liTitulo{
        padding-bottom: 20px;
    }
}

/* @media screen and (max-width:768px) {
    header{
        height: 400px;
        background-image: linear-gradient(to bottom,  black 30%, transparent), url(../imagens/joias.jpeg);
        -webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%);
        background-size: cover;
        padding: 10px;
    }

    header span{
        color: var(--cor0);
    }

    header span:hover{
        color: white;
        cursor: pointer;
    }

    header a{
        text-decoration: none;
    }

    header h1{
        color: white;
        font-family: var(--font-Pacifico);
    }

    header #cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header #divBuscar{
        display: flex;
        padding: 2px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: auto;
        width: 60vw;
        background-color: white;
        border-radius: 20px;
        border: 2px solid var(--cor0);
        margin-top: 60px;
    }

    header input{
        width: calc(100% - 20px);
        border: none;
    }

    header input:focus{
        transition: 0.3s;
        margin-left: 5px;
        border: none;
        box-shadow: none;
        outline: none;
    }

    header .material-symbols-outlined{
        width: 20px;
    }

    header .material-symbols-outlined:hover{
        color: var(--cor01);
    }

    main{
        height: 500px;
    }

    #amostraProdutos{
        overflow-x: scroll;
        white-space: nowrap;
        overflow: hidden;
        margin: 10px 0px 10px 10px;
        height: 200px;
        border-radius: 20px 0 0 20px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.144);
    }

    #amostraProdutos img{

        width: 300px;
    }

    #tiposProdutos{
        background-color: #ffdfe4;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.438);
    }

    #tiposProdutos img{
        width: 25%;
        height: 150px;
        border-radius: 50%;
    }

    footer{
        padding: 15px 0px;
        color: white;
        background-color: black;
        text-align: left;
    }

    footer ul{
        list-style-type: none;
        max-width: 300px;
        margin: auto;
    }

    footer a{
        color: var(--cor02);
        font-weight: bold;
        text-decoration: none;
    }

    footer a:hover{
        text-decoration: underline;
    }

    .liDev{
        padding-top: 20px;
    }

    .liTitulo{
        padding-bottom: 20px;
    }
} */